


<mat-menu #main="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="house">House</button>
  <button mat-menu-item [matMenuTriggerFor]="food">Food</button>
  <button mat-menu-item [matMenuTriggerFor]="material">Material</button>
  <button mat-menu-item [matMenuTriggerFor]="workshop">Workshop</button>
  <button mat-menu-item [matMenuTriggerFor]="service">Service</button>
</mat-menu>

<mat-menu #house="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('House')">House</button>
</mat-menu>

<mat-menu #food="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('WheatFarm')">Wheat Farm</button>
  <button mat-menu-item (click)="state.SetBuildType('PigFarm')">Pig Farm</button>
  <button mat-menu-item (click)="state.SetBuildType('FishPier')">Fish Pier</button>
</mat-menu>

<mat-menu #material="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('LumberHut')">Lumber Hut</button>
</mat-menu>

<mat-menu #workshop="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('WindMill')">WindMill</button>
  <button mat-menu-item (click)="state.SetBuildType('Bakery')">Bakery</button>
  <button mat-menu-item (click)="state.SetBuildType('SausageShop')">Sausage Shop</button>
</mat-menu>

<mat-menu #service="matMenu">
    <button mat-menu-item (click)="state.SetBuildType('Well')">Well</button>
</mat-menu>
  

<mat-card>
    <mat-card-content>
        <button mat-stroked-button color="success" [matMenuTriggerFor]="main">Buildings</button>
        <button mat-stroked-button color="success" (click)="state.ClearBuildType()"> Clear: {{state.state.build_type}} </button>
    </mat-card-content>
</mat-card>