<mat-menu #house="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('House')">House</button>
</mat-menu>

<mat-menu #food="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('WheatFarm')">Wheat Farm</button>
  <button mat-menu-item (click)="state.SetBuildType('PigFarm')">Pig Farm</button>
  <button mat-menu-item (click)="state.SetBuildType('FishPier')">Fish Pier</button>
</mat-menu>

<mat-menu #material="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('LumberHut')">Lumber Hut</button>
</mat-menu>

<mat-menu #workshop="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('WindMill')">WindMill</button>
  <button mat-menu-item (click)="state.SetBuildType('Bakery')">Bakery</button>
  <button mat-menu-item (click)="state.SetBuildType('SausageShop')">Sausage Shop</button>
</mat-menu>

<mat-menu #service="matMenu">
  <button mat-menu-item (click)="state.SetBuildType('Well')">Well</button>
  <button mat-menu-item (click)="state.SetBuildType('Warehouse')">Warehuose</button>
</mat-menu>

<mat-menu #terrain="matMenu">
  <button mat-menu-item (click)="state.SetTerrainType('Grass')">Grass</button>
  <button mat-menu-item (click)="state.SetTerrainType('Forest')">Forest</button>
  <button mat-menu-item (click)="state.SetTerrainType('Sand')">Sand</button>
  <button mat-menu-item (click)="state.SetTerrainType('Mountain')">Mountain</button>
  <button mat-menu-item (click)="state.SetTerrainType('Sea')">Sea</button>
</mat-menu>

<mat-menu #game="matMenu">
  <button mat-menu-item  (click)="this.state.Save()">Save</button>
  <button mat-menu-item  (click)="this.state.Load()">Load</button>
  <button mat-menu-item  (click)="this.state.Reset()">Reset</button>
</mat-menu>


<button class="top_button" mat-stroked-button color="success" [matMenuTriggerFor]="house">House</button>
<button class="top_button" mat-stroked-button color="success" [matMenuTriggerFor]="food">Food</button>
<button class="top_button" mat-stroked-button color="success" [matMenuTriggerFor]="material">Material</button>
<button class="top_button" mat-stroked-button color="success" [matMenuTriggerFor]="workshop">Workshop</button>
<button class="top_button" mat-stroked-button color="success" [matMenuTriggerFor]="service">Service</button>
<button class="top_button" mat-stroked-button color="success" [matMenuTriggerFor]="terrain">Terra</button>
<button class="top_button" mat-stroked-button color="success" (click)="state.ClearSelection()"> Clear {{state.state.build_type}} </button>
<button class="top_button" mat-stroked-button color="success" (click)="state.ClearSelection()"> Delete {{state.state.terrain_type}} </button>
<button class="top_button" mat-stroked-button color="success"  [matMenuTriggerFor]="game"> Game  </button>
