
<div>
    <div> {{tile.building!.shipyard!.status}} </div>
    <div> {{tile.building!.shipyard!.progress | percent}} </div>
    <div>Available Blueprints</div>
    <mat-form-field>
        <mat-select [(value)]="tile.building!.shipyard!.selected">
            @for (blueprint of tile.building!.shipyard!.blueprints; track $index) {
                <mat-option [value]="blueprint">{{blueprint.type}}</mat-option>
              }
        </mat-select>
    </mat-form-field>
</div>
<div>
    <button class="btn" [disabled]="tile.building!.shipyard!.status != ProductionStatus.READY" (click)="Build(tile.building!.shipyard.selected)">Build</button> 
</div>