@if (tile.building?.production) {
    <app-production [tile]="tile"></app-production>
}
@else if (tile.building?.house) {
    <app-house [tile]="tile"></app-house>
}
@else if (tile.building?.service) {
    <app-service [tile]="tile"></app-service>
}
@else if (tile.building?.warehouse) {
    <app-warehouse [tile]="tile"></app-warehouse>
} 
@else if (tile.building?.shipyard) {
    <app-shipyard [tile]="tile" [state]="state"></app-shipyard>
}
@else if (tile.building?.dock) {
    <app-dock [tile]="tile" [state]="state"></app-dock>
}


