<div class="row">
    <span class="key cart-ready-key">
        <img class="cart-icon" src="assets/used/actors/cart-empty.png" alt="Carts">
        Ready
    </span>
    <span class="val">{{readyCarts()}} / {{tile.building!.warehouse!.carts.length}}</span>
</div>

<hr class="divider">
<app-resource-summary></app-resource-summary>
<hr class="divider">
<button class="btn btn-sm btn-primary btn-block cursor-upgrade" [disabled]="tile.building?.warehouse?.tier == 3" (click)="Upgrade()">Upgrade</button>
