<div class="row">
    <span class="key">Cart Speed</span>
    <span class="val">{{tile.building!.warehouse!.cart_speed}}</span>
</div>
<hr class="divider">
@for (cart of tile.building!.warehouse!.carts; track $index) {
    <div class="row">
        <span class="key">Cart {{$index + 1}}</span>
        @if (cart.task) {
            <span class="badge on">{{cart.task.type}} · {{cart.task.progress / cart.task.distance | percent}}</span>
        } @else {
            <span class="badge off">Ready</span>
        }
    </div>
}
<hr class="divider">
<button class="btn btn-sm btn-primary btn-block" [disabled]="tile.building?.warehouse?.tier == 3" (click)="Upgrade()">Upgrade</button>
