<div>
    <div class="sxs key">Cart Speed</div>
    <div class="sxs right"> {{this.tile.building!.warehouse!.cart_speed}}</div>
</div>
@for (cart of this.tile.building!.warehouse!.carts; track $index) {    
    <div>
        <div class="sxs key">Cart {{$index + 1}}</div>
        <div class="sxs right">
            @if (cart.task) {
                {{cart.task.type}} - {{cart.task.progress / cart.task.distance | percent}}
            } @else {
                Ready
            }
        </div>
    </div>
}
<hr>
<div>
    <button class="btn" [disabled]="this.tile.building?.warehouse?.tier == 3" (click)="this.Upgrade()">Upgrade</button> 
</div>