<div class="box">
    <span style="font-size: 20px;"><b> {{state.state.current_city!.name}} </b></span>
    <hr>
    @for (tier of state.state.current_city!.population.tiers; track $index) {
        <div> 
            <div class="sxs key">{{tier.tier}} </div>  
            <div class="sxs right">{{tier.has}}  / {{tier.needed}} </div> 
        </div>
    }
    <hr>
    <div> 
        <div class="sxs key">Gold</div>  
        <div class="sxs right">{{state.state.gold | number: '1.0-0'}} </div> 
    </div>
</div>