<div class="box" [class.focused]="isFocused" [attr.data-i]="tile.i" [attr.data-j]="tile.j" (click)="HandleClick()" [ngStyle]="GetTerrainStyle()">
    @if (terrainFeatureSrc; as featureSrc) {
        <img class="terrain-object" [src]="featureSrc" alt="">
    }
    @if (tile.building) {
        <div class="building" [class.cobble]="isRoad" [ngStyle]="GetBuildingStyle()"
             [attr.draggable]="isRoad ? null : 'true'"
             (dragstart)="onBuildingDragStart($event)"
             (dragend)="onBuildingDragEnd()">
            @if (isRoad) {
                <!-- cobblestone texture only, no content -->
            } @else if (isFarm && size > 1) {
                <div class="farm-bg-layout">
                    <img class="farm-bg-img" [src]="farmBgSrc" alt="">
                    <div class="farm-overlay-row">
                        @for (cell of farmProduceCells; track $index) {
                            <app-icon class="farm-produce" [src]="buildingIconSrc" [fallback]="GetIcon()" [size]="size * 9"></app-icon>
                        }
                    </div>
                </div>
            } @else if (isWorkshop && size > 1) {
                <div class="workshop-layout">
                    <img class="workshop-bg" [src]="workshopSrc" alt="">
                    <app-icon class="workshop-product" [src]="buildingIconSrc" [fallback]="GetIcon()" [size]="size * 9"></app-icon>
                </div>
            } @else {
                <app-icon class="building-icon" [src]="buildingIconSrc" [fallback]="GetIcon()" [size]="size * 16"></app-icon>
            }
        </div>
    }
</div>
