mat-grid-tile {
    background: lightcyan
}

.mat-grid-tile {
    display: flex !important; /* Override default display: block */
    justify-content: flex-start !important; /* Align horizontally to the left */
    align-items: flex-start !important; /* Align vertically to the top */
}

.mat-success {
    background-color: white;
    color: #fff;
}

.first {
    height: 100%;
    width: 100%;
}
.menu {
    background-color: rgb(73, 73, 250);
}

.right {
    float: right;
}

.sxs {
    display: inline-block;
}

.main {
    width: 80%;
    vertical-align:top;
    display: inline-block;
    overflow-x: auto;
    overflow-y: auto;
}

.side {
    width: 20%;
    height: max-content;
    vertical-align:top;
    display: inline-block;
    padding-top: 5px;
}
