<div class="first">
  <div class="menu">
    <app-building-menu class="sxs" [state]="state"></app-building-menu>
    <app-terrain-menu class="sxs" [state]="state"></app-terrain-menu>
    <app-status-summary class="sxs" [state]="state"></app-status-summary>
    <button mat-stroked-button color="success" (click)="Save()">Save</button>
    <button mat-stroked-button color="success" (click)="Load()">Load</button>
    <button mat-stroked-button color="success" (click)="Reset()">Reset</button>
  </div>
  <div class="main">
    <app-city [city]="state.state.city" [state]="state"></app-city>
  </div>
  <div class="side">
    <app-tile-detail [tile]="state.state.focus_tile"></app-tile-detail>
    <app-resource-summary [state]="state"></app-resource-summary>
  </div>
</div>

<router-outlet/>
