<div> 
    <div class="sxs"><b>{{tile.building!.house!.resident_type}}</b></div>
    <div class="sxs right">{{tile.building!.house!.occupant}} / {{tile.building!.house!.max_occupant}}</div>
<div>
<div> 
    <div class="sxs"><b>Happiness</b></div>
    <div class="sxs right">{{tile.building!.house!.happiness | percent}}</div>
<div>
<hr>
<div>
    @for (need of tile.building!.house!.service_needs; track $index) {
        @if (need.satisfied) {
            <span class="need" style="background-color:lightgreen">{{need.type}}</span>
        } @else {
            <span class="need" style="background-color:lightgrey">{{need.type}}</span>
        }
    }
    @for (need of tile.building!.house!.resource_needs; track $index) {
        @if (need.satisfied) {
            <span class="need" style="background-color:lightgreen">{{need.type}}</span>
        } @else {
            <span  class="need" style="background-color:lightgrey">{{need.type}}</span>
        }
    }
</div>
<hr>
<div>
    <button class="btn" [disabled]="this.tile.building!.house!.happiness < 1.0 || this.tile.building!.house!.tier >= 6" (click)="this.Upgrade()">Upgrade</button> 
    <button class="btn" [disabled]="this.tile.building!.house!.tier == 1" (click)="this.Downgrade()">Downgrade</button> 
</div>