.need{
    text-align: center;
    width: 60px;
    margin: 1px;
    font-size: 6px
}

.btn{
    background-color: white;
    text-align: center;
    width: 80px;
    margin: 1px;
    color: blue;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px
}